<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Company tags</title>
    <link rel="stylesheet" href="https://unpkg.com/popoto/dist/popoto.min.css">
    <link rel="stylesheet" href="https://unpkg.com/materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/auto-complete.css')}}">
    <style>
        #popoto-graph:fullscreen {
            width: 100%;
            height: 100%;
        }
        #popoto-graph:-webkit-full-screen {
            width: 100%;
            height: 100%;
        }
        #popoto-graph:-moz-full-screen {
            width: 100%;
            height: 100%;
        }
        #popoto-graph:-ms-fullscreen {
            width: 100%;
            height: 100%;
        }
    </style>
</head>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <center>
                <p style="color: Blue; font-size: 25px;">
                    {{ message }}
                </p>
            </center>
        {% endfor %}
    {% endif %}
{% endwith %}

<body class="ppt-body">

<div id="scrape_modal" class="modal">
<form id="form" action="{{ url_for('home') }}" method = "POST">

    <div class="modal-content">
        
             <div class="row">
                <div class="input-field col s6">
                  <input id="query" name="query" type="text" required="true">
                  <label class="active" for="query">Search for</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s6">
                  <input id="city" name="city" type="text">
                  <label class="active" for="city">in city of Germany</label>
                </div>
              </div>

    </div>

    <div class="modal-footer">
        <button class="btn" type="submit">Run
        </button>
        <button class="btn orange darken-1" type="reset">Reset
        </button>
        <button class="modal-close btn deep-orange darken-2" type="button">Cancel
        </button>
    </div>
</form>
</div>

<div class="navbar">
    <nav style="background-color: #444951;">
        <div class="nav-wrapper">
            <form style="height:100%; margin-left: 8%; margin-right: 8%; background-color: #525863;"
                  onsubmit="event.preventDefault(); return false;">
                <div class="input-field">
                    <input id="search" type="search" required>
                    <label class="label-icon" for="search"><i
                            class="ppt-icon ppt-icon-search-plus" style="color:#8bb71a;"></i></label>
                </div>
            </form>
        </div>
    </nav>
</div>

<section class="ppt-section-main">

    <div style="float: right; margin:33px">
       <span id="result-total-count" class="ppt-count"></span> Companys found
    </div>

    <div id="popoto-query" class="ppt-container-query">
        <!-- Query viewer will be generated here -->   
    </div>

    <div class="ppt-container-graph">
        <div id="popoto-graph" class="ppt-div-graph">
            <!-- Graph will be generated here-->
        </div>
    </div> 

</section>

<!---------------------->
<!-- Required scripts -->

<script src="https://unpkg.com/jquery" charset="utf-8"></script>
<script src="https://unpkg.com/d3" charset="utf-8"></script>
<script src="https://unpkg.com/popoto" charset="utf-8"></script>

<script src="https://unpkg.com/materialize-css/dist/js/materialize.min.js"></script>
<script src="{{url_for('static', filename='js/auto-complete.min.js')}}"></script>
<script src="{{url_for('static', filename='js/tag-auto-complete.js')}}"></script>
<script>
    popoto.rest.CYPHER_URL = "http://localhost:7474/db/data/transaction/commit";
    popoto.rest.AUTHORIZATION = "Basic " + btoa("neo4j:password");
    popoto.graph.USE_FIT_TEXT = true;
    popoto.tools.TOGGLE_FIT_TEXT = false;
    popoto.tools.SAVE_GRAPH = true;
    popoto.tools.TOGGLE_TAXONOMY = false;

    popoto.provider.node.Provider = {
        "Company": {
            "returnAttributes": ["name"],
            "constraintAttribute": "name",
            "autoExpandRelations": true,    
            "getDisplayType": function (node) {
                return popoto.provider.node.DisplayTypes.IMAGE;
            },
            "getImagePath": function (node) {
                return "{{url_for('static', filename='images/company.png')}}";
            }

        },
        "Tag": {
            "returnAttributes": ["name"],
            "constraintAttribute": "name",
            "autoExpandRelations": true,
            "getDisplayType": function (node) {
                return popoto.provider.node.DisplayTypes.IMAGE;
            },
            "getImagePath": function (node) {
                return "{{url_for('static', filename='images/tag.png')}}";
            }

        }
    }; 

    popoto.provider.node.DEFAULT_PROVIDER.getColor = function (node) {
            return "#ffffff00";
    };
    popoto.provider.link.DEFAULT_PROVIDER.getColor = function (node) {
            return "#0e35c7";
    };
    popoto.result.onTotalResultCount(function (count) {
        document.getElementById("result-total-count").innerHTML = count;
    });
    popoto.graph.onSave(function (graph) {
        $(document).ready(function(){
            $('.modal').modal();
            $('#scrape_modal').modal('open');
        });
    });
    popoto.start("Company");
</script>
</body>
</html>